body{
	background: #000;
	color: white;
	/*text-align: center;*/
	font-family: Calibri;
}

h1{
	font-size: 2.5em;
	margin-bottom: 20px;
	margin-left: 20px;
}

hr{
	width: 350px;
	margin-left: 20px;
}
iframe{
	height: 700px;
	width: 60%;
}

form{
	display: inline-block;
	height: 700px;
	width: 30%;
	position: relative;
}
form input{
	padding: 10px;
	outline: none;
	border: black 1px solid;
	
	width: 200px;
	margin: 10px;
}
form input[type="submit"]{
	width: 310px;
}
label{
	display: inline-block;
}
.container{
	background: rgba(255,255,255,0.3);
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	text-align: center;
}